@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  position: relative;
}

body {
  width: 100vw;
  background-color: hsl(180, 52%, 96%);
}