.filtersList {
    border-radius: 5px;
    width: 85%;
    background-color: white;
    margin: 15px 0;
    box-shadow: 1px 5px 20px -5px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    animation: showList 500ms forwards;
    position: absolute;
    top: -130px;
}

.filterButton {
    background-color: hsl(180, 29%, 50%);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    top: 3px;
    right: 15px;
    height: 34px;
}

.clear {
    background: none;
    color: hsl(180, 8%, 52%);
    font-size: 16px;
    font-weight: normal;
}

.clear:hover, .clear:focus {
    background: none;
    color: hsl(180, 29%, 50%);
    text-decoration: underline;
}

.filterButton:hover, .filterButton:focus {
    background-color: hsl(180, 14%, 20%);
}

@keyframes showList {
    from {
        height: 0;
    } to {
        height: 75px;
    }
}