.jobcard {
    border-radius: 5px;
    width: 85%;
    height: 150px;
    background-color: white;
    margin: 15px 0;
    border-left: 5px solid hsl(180, 29%, 50%);
    box-shadow: 1px 5px 20px -5px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}

.jobcard img {
    width: 100px;
}

.company {
    display: flex;
    align-items: center;
}

.name {
    color: hsl(180, 29%, 50%);
    font-weight: bold;
}

.description {
    margin-left: 20px;
}

.position {
    color: hsl(180, 14%, 20%);
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0;
    cursor: pointer;
}

.new {
    background-color: hsl(180, 29%, 50%);
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 6px 8px;
    border-radius: 100px;
    margin: 0 5px 0 15px;
}

.new div {
    top: 1px;
}

.featured {
    background-color: hsl(180, 14%, 20%);
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 6px 8px;
    border-radius: 100px;
}

.featured div {
    top: 1px;
}

.filters {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.list {
    display: flex;
    align-items: center;
}

.posted {
    list-style: none;
}

.contract {
    margin: 0 35px;
}

.list li {
    color: hsl(180, 8%, 52%);
}

.position:hover {
    color: hsl(180, 29%, 50%);
}

@media screen and (max-width: 600px) {
    .jobcard {
        flex-direction: column;
        height: 300px;
        padding: 0;
        margin-top: 50px;
    }
    .company-1 {
        flex-direction: column;
        align-items: flex-start;
        top: -15px;
    }
    .jobcard img {
        width: 75px;
        top: -15px;
    }
    .description {
        margin: 0;
    }
    .filters {
        width: 90%;
        justify-content: flex-start;
        border-top: 1px solid black;
    }
}
@media screen and (max-width: 320px) {
    .jobcard {
        width: 95%;
    }
    .description {
        left: 0;
    }
    .jobcard img {
        left: 5px;
    }
}